*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding: 10rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  position: relative;
  font-size: 1.6rem;
  margin: 0;
  /* display: flex;
  flex-direction: column; */
  /* height: 200vh; */
  
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

:root {
  --principal-color: #ff8906;
  --secundary-color: #0f0e17;
  --tertiary-color: #fffffe;
  --quaternary-color: #a7a9be;
  --quinary-color: #9d111e;
  --padding-left-right-top-bottom: 2rem;
  --gap-number-1: 0.8rem;
  --gap-number-2: 3.6rem;
  --header-height: 84px;
}