header {
  width: 100%;

  min-width: 32rem;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.349);
  /* display: none; */
}

.header__contact-content {
  background-color: var(--principal-color);
}

.header__contact {
  margin: 0 auto;
  max-width: 1440px;
  display: none;
}

.header__nav-content {
  background-color: var(--secundary-color);
}

.header__nav {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding: var(--padding-left-right-top-bottom);
}

.header__complete-logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: var(--gap-number-1);
  transition: transform 0.5s;
}

.header__complete-logo-link:active {
  transform: scale(1.04);
}

.header__complete-logo {
  margin: 0;
}

.header__logo {
  height: 4rem;
  width: 4rem;
}

.header__logo-text {
  margin: 0;
  color: var(--principal-color);
}

.header__list {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 8.4rem;
  right: 0;
  left: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column;

  background-color: var(--principal-color);
  width: 100%;
  overflow: hidden;

  padding: var(--gap-number-1);
  margin: 0;
  transition: all 0.5s;
}

.header__list-item {
  list-style: none;
}

.header__list-item-link {
  font-weight: 500;
  font-size: 2.4rem;
  text-decoration: none;
  color: var(--tertiary-color);
}

.header__hamburger-menu-label {
  cursor: pointer;
}

.header__hamburger-menu-icon {
  height: 4rem;
  width: 4rem;
  fill: var(--tertiary-color);
  transition: transform 0.5s;
}

.header__hamburger-menu-icon:active {
  transform: scale(1.1);
}

.header__hamburger-menu-checkbox {
  display: none;
}

.header__hamburger-menu-checkbox:checked ~ .header__list {
  visibility: visible;
  height: calc(100vh - var(--header-height));
  opacity: 1;
}

@media (min-width: 1024px) {
  header {
  }

  .header__contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 2.8rem;
  }

  .header__contact-text {
    margin: 0;
    font-weight: 700;

    color: var(--secundary-color);
    padding: 0 2rem 0 1rem;
  }

  .header__contact-social {
    display: flex;
  }

  .header__contact-icons {
    padding: 0 0 0 2rem;
    border-left: 0.1px solid var(--secundary-color);
    display: flex;
    gap: 2rem;
  }

  .header__contact-icon {
    width: 2rem;
    fill: var(--secundary-color);
    transition: fill 0.5s;
  }
  .header__contact-icon:hover {
    fill: #fffffe8e;
  }

  .header__contact-icon:nth-child(1) {
    width: 1.6rem;
  }

  .header__nav {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 3rem;
  }

  .header__complete-logo-link {
    transition: transform 0.5s;
  }

  .header__complete-logo-link:hover {
    transform: scale(1.04);
  }

  .header__list {
    width: fit-content;
    height: fit-content;
    visibility: visible;
    opacity: 1;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    flex-flow: row;
    gap: var(--gap-number-2);
    background-color: var(--secundary-color);
    /* transition: all 0s; */
  }

  .header__hamburger-menu-checkbox:checked ~ .header__list {
    visibility: visible;
    height: fit-content;
    opacity: 1;
  }

  .header__list-item-link {
    font-weight: 500;
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--tertiary-color);
    position: relative;
  }

  .header__list-item-link:hover::before {
    width: 100%;
    opacity: 1;
  }

  .header__list-item-link::before {
    opacity: 0;
    width: 10px;
    content: "";
    background-color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
    border-radius: 1rem;
    position: absolute;
    bottom: 0;
    transition: all 0.5s;
  }

  .header__hamburger-menu-icon {
    display: none;
  }
}

@media (min-width: 768px) {
  .header__nav {
    padding: 2rem 4rem;
  }
}
