.services__content {
  background-color: var(--secundary-color);
  min-width: 32rem;
}

.services {
  margin: 0 auto;
  padding: 2rem 4rem;
  max-width: 1440px;
  display: flex;
  min-width: 32rem;
  flex-direction: column;
  gap: var(--padding-left-right-top-bottom);
}
.services__title-text {
}
.services__title {
  margin: 0;
  font-weight: 700;
  color: var(--tertiary-color);
}
.services__pharagraph {
  color: var(--quaternary-color);
}
.services__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services__card {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  background-color: var(--tertiary-color);
  padding: var(--padding-left-right-top-bottom);
  width: 28rem;
  margin-bottom: 4rem;
  transition: transform 0.5s, box-shadow 0.5s;
}

.services__card:hover {
  transform: scale(1.01);
  box-shadow: 4px 4px 20px #fffffe73;
}

.services__card-general {
  display: flex;
  flex-direction: column;
}
.services__card-title {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.services__card-img {
  width: 25rem;
  align-self: center;
}

.services__card-info {
}
.services__card-characts {
  margin-bottom: 2rem;
}
.services__card-characts-title {
  margin-top: 0;
}
.services__card-charact {
  background-color: var(--principal-color);
  padding: var(--gap-number-1);
  text-align: center;
  border-radius: 1rem;
  color: var(--secundary-color);
  font-weight: 500;
  width: fit-content;
  align-items: center;
}
.services__btn {
  font-weight: 700;
  color: var(--tertiary-color);
  text-decoration: none;
  background-color: var(--quinary-color);
  padding: var(--padding-left-right-top-bottom);
  border-radius: 2.8rem;
  width: fit-content;
  align-self: center;
  transition: transform 0.5s;
}

.serices__btn:active {
  transform: scale(1.04);
}

@media (min-width: 768px) {
  .services {
    display: flex;
    flex-direction: row;
    position: relative;
    /* width: fit-content; */
  }

  .services__title-text {
    width: 50%;
    height: fit-content;
    position: sticky;
    top: 8rem;
  }

  .services__card-img {
    /* height: 18rem; */
    /* width: 18rem; */
    /* height: 32rem; */
  }

  .services__cards {
    width: 50%;
  }

  .services__card {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .services__btn:hover {
    transform: scale(1.04);
  }

  .services__title-text {
    top: 8rem;
  }

  .services__pharagraph {
    max-width: 68rem;
  }

  .services__cards {
    display: flex;
    flex-direction: column;
  }

  .services__card {
    max-width: 49rem;
  }

  .services__card-img {
    width: 24rem;
    /* height: 32rem; */
    align-self: center;
  }

  .services__card-characts-elements {
    display: flex;
    gap: 2rem;
  }

  .services__card-characts {
    flex-direction: row;
  }

  .services__card-characts-title {
    margin-bottom: 1rem;
  }

  .services__card-charact {
    display: flex;
  }
}
