.main {
  margin-top: 8rem;
  min-width: 32rem;
  background-color: var(--tertiary-color);
}

.main-contenct {
  margin: 0 auto;
  max-width: 1440px;
  padding: 4rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .main-contenct {
    flex-direction: row;
    gap: 4rem;
  }
}
@media (min-width: 1024px) {
  .main {
    margin-top: 12rem;
  }
  .main-contenct {
    justify-content: space-between;
    align-items: center;
  
  }
}
.main__article {
}
.main__title {
  margin-top: 0;
  max-width: 475px;
}
.main__text {
  max-width: 475px;
}
.main__calculator {
}
.main__show-result {
}
.main__item {
}
.main__label-input {
}
.main__label {
}
.main__svg {
  width: 2rem;
}
.main__input {
}
.main__alight {
}
.main__btn {
}
.main__sgv--btn {
  /* width: 4rem; */
}
