.about-us {
  min-width: 32rem;
  background-color: var(--secundary-color);
  position: relative;
  margin-top: 84px;
}
.about-us__content {
  margin: 0 auto;
  padding: 2rem 4rem;
  background-color: var(--secundary-color);
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
  height: 100%;
}

.about-us__content::before {
  content: "";
  height: 20px;
  width: 100%;
  border: 1p solid #000000ec;
  background-color: #ffff19ec;
  position: absolute;
  bottom: 0;
  left: 0;
}

.about-us__general {
  position: relative;
}
.about-us__title {
  color: var(--tertiary-color);
  margin-top: 0;
}
.about-us__text-image {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 4rem;
}
.about-us__text {
  text-align: justify;
  color: var(--quaternary-color);
  max-width: 64rem;
  position: sticky;
  bottom: 20rem;
  width: fit-content;
}
.about-us__image {
  min-width: 25rem;

  border-radius: 1rem;
}

@media (min-width: 768px) {
  .about-us__text-image {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .about-us {
    margin-top: 118.281px;
  }
}
