.hero {
    position: relative;
    padding: var(--padding-left-right-top-bottom);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 84px 0 0 0;
    background-image: url(/image/about-us.hero.webp);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 32rem;
  }
  
  .hero::before {
    position: absolute;
    content: "";
    height: 2rem;
    width: 100%;
    border: 1rem solid var(--principal-color);
    bottom: 0;
    background-color: var(--principal-color);
  }
  
  .hero__card {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    border-radius: 2rem;
    padding: var(--padding-left-right-top-bottom);
    background-color: var(--secundary-color);
    height: fit-content;
    box-shadow: 0 2px 20px var(--secundary-color);
  }
  .hero__text-image {
    display: flex;
    /* gap: 2rem; */
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 2rem;
  }
  .hero__artile {
    color: var(--quaternary-color);
  }
  .hero__title {
    justify-self: center;
    margin: 0;
    margin: 0;
    color: var(--principal-color);
  }
  .hero__pharagraph {
    max-width: 33rem;
  
    font-weight: 500;
  }
  .hero__image {
    align-self: center;
    border-radius: 2rem;
    width: 20rem;
  }
  .hero__btn {
    text-decoration: none;
    background-color: var(--principal-color);
    padding: 2rem;
    width: fit-content;
    align-self: center;
    color: var(--secundary-color);
    font-weight: 700;
    border-radius: 2.8rem;
    transition: transform 0.5s;
  }
  
  .hero__btn:active {
    transform: scale(1.04);
  }
  
  @media (min-width: 768px) {
    .hero__card {
      gap: 8px;
      width: fit-content;
    }
    .hero__text-image {
      flex-direction: row;
      gap: 8px;
    }
  
    .hero__pharagraph {
      width: 33rem;
    }
  
    .hero__btn {
      transition: transform 0.5s;
    }
  
    .hero__btn:hover {
      transform: scale(1.04);
    }
  }
  