.mission-vision {
  /* margin: 0; */
  min-width: 32rem;
  background-color: rgba(248, 249, 250, 0.781);

  position: relative;
}
.mission-vision__content {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;

  padding: 2rem 4rem;

  display: flex;
  flex-direction: column;

  gap: 4rem;
}

.mission-vision__content::before {
  content: "";
  height: 20px;
  width: 100%;
  border: 1p solid var(--principal-color);
  background-color: var(--principal-color);
  position: absolute;
  bottom: 0;
  left: 0;
}

.mission-vision__element {
  padding: 3rem;

  border-radius: 2rem;
  box-shadow: 0px 2px 4px var(--secundary-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--tertiary-color);
  margin-top: 4rem;
  margin-bottom: 4rem;
  transition: all ease 0.5s;
}

.mission-vision__element:hover {
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);

  transform: translateY(-10px);
}

.mission-vision__general {
}
.mission-vision__title {
  margin-top: 0;
  text-align: center;
}
.mission-vision__text-image {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}
.mission-vision__text {
  max-width: 64rem;
  text-align: justify;
  margin-top: 0;
}
.mission-vision__image {
  max-width: 20rem;
  max-height: 20rem;

  margin-top: 2rem;
  align-self: center;
}

@media (min-width: 768px) {
  .mission-vision__content {
    flex-direction: row;
  }

  .mission-vision__element {
    width: 50%;
  }
  .mission-vision__image {
    width: 50%;
  }
}
